#page{
    max-height: 100%;
    background-color: #18191A;
    height: 100vh;
}

/*Abajo esta el diseño del componente Lanzaderas.jsx*/
#tablecontainer{
    background-color: #18191A;
    height: 100vh;

}